body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: left;
    background: none;
    margin: 0;
    height: 100vh;
    align-items: center;
    background: #202020;
}

/*TEXT BOX*/
#resizable-box {
  resize:both;
  overflow: hidden;
  width: 600px;
  min-height: 50px;
  max-height: 90vh;
  max-width: 100%;
  border: 2px solid #3e420c;
  border-radius: 10px;
  background: #b4ac64;
  padding: 0;
}

/*text*/
#editable {
  width: 100%;
  height: 100%;
  padding: 1rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  line-height: 1.4;
  overflow: auto;
  outline: none;
  color: #3e420c;
}

#editable::-webkit-scrollbar {
    display: none;
}


/*CONTROLS*/
/* Controls container */
#doc-controls {
  display: flex;
  gap: .25rem;
  flex-wrap: wrap;
  align-items: left;
}

/* Custom dropdown container */
.dropdown {
  position: relative;
  width: 5rem;
  font-family: 'Times New Roman', Times, serif;
}

/* Dropdown button */
#dropdownBtn {
  width: 100%;
  padding: 0.4rem 0.4rem;
  font-size: 1rem;
  border: 2px solid #3e420c;
  border-radius: 8px;
  background: #b4ac64;
  color:#3e420c;
  cursor: pointer;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

/* Dropdown list */
.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: #b4ac64;
  color:#3e420c;
  border: 2px solid #3e420c;
  border-top: none;
  border-radius: 8px 8px 8px 8px;
  margin-top: 2px;
  list-style: none;
  padding: 0;
}

/* Hide list by default */
.hidden {
  display: none;
}

/* Dropdown items */
.dropdown-list li {
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

/* Hover and selected state */
.dropdown-list li:hover,
.dropdown-list li[aria-selected="true"] {
  background-color: #6c7022;
  color: #d6d1a7;
}


/*CREATE, DELETE, and DOC NAME*/
#newDocName {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  color: #3e420c;
  background: #b4ac64;
  border-radius: 8px;
  border: 2px solid #3e420c;
  padding: .4rem .4rem;
}

#newDocName::placeholder {
  color:#3e420c8e;
}

#createDoc {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  color:#3e420c;
  background: #b4ac64;
  border: 2px solid #3e420c;
  border-radius: 8px;
  padding: .4rem .4rem;
  cursor: pointer;
}

#deleteDoc {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1rem;
  color:#3e420c;
  background-color: #b4ac64;
  border: 2px solid #3e420c;
  border-radius: 8px;
  padding: .4rem .4rem;
  cursor: pointer;
}

#toggleBtn {
  font-family: 'Times New Roman', Times, serif;
  color:#3e420c;
  background:#b4ac64;
  border: 2px solid #b4ac64;
  border-radius: .4rem;
  cursor: pointer;
}
